.mud-appbar .mud-toolbar {
    flex-wrap: nowrap;
}

.logoContainer {
    display: grid;
    flex-grow: 1;
    justify-content: flex-start;
    padding: unset;
    margin: unset;
    max-width: unset;
}

.o-logo {
    background-image: url(/assets/mercadona-logo.svg);
    width: 230px;
    height: 40px;
    background-repeat: no-repeat;
}

.o-drawer-logo {
    background-image: url(/assets/mercadona-logo-white.svg);
    width: 230px;
    height: 40px;
    background-repeat: no-repeat;
}

.openDrawer {
    height: var(--mud-appbar-height);
}

.openDrawerIcon {
    margin-left: 8px;
    margin-right: 8px;
}

@media (min-width: 960px) {
    .productCardMedia {
        height: calc(100vh / 4) !important;
    }
}

@media (min-width: 600px) {
    .productCardMedia {
        height: calc(100vh / 3) !important;
    }
}

@media (max-width: 600px) {
    .productCardMedia {
        height: calc(100vh / 2) !important;
    }
    .openDrawer {
        height: calc(var(--mud-appbar-height) - var(--mud-appbar-height)/8);
    }
    .openDrawerIcon {
        margin-left: 4px;
    }
}

.navMenu .mud-nav-item .mud-nav-link.active {
    color: unset !important;
}

.mud-list-item-icon .mud-icon-root.mud-svg-icon {
    fill: var(--mud-palette-primary);
}

.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
    font-weight: bold !important;
}

.productCard {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(2, auto) 1fr auto;
}

.productCardMedia {
    background-size: contain;
}

.productPrice {
    font-size: 1.5rem;
    text-align: center;
    font-weight: lighter;
}

.productPrice.discount {
    color: red;
    font-weight: bold;
}

.productCard .mud-card-content {
    display: grid;
}

.productCard .mud-card-content .mud-chip {
    justify-self: flex-start;
}

.productCard .mud-card-content .productPrice {
    align-self: flex-end;
}

.mud-dialog .mud-dialog-title {
    background: var(--mud-palette-primary);
    color: var(--mud-palette-primary-text);
}

.mud-dialog.dialog-warning .mud-dialog-title {
    background: var(--mud-palette-warning);
    color: var(--mud-palette-primary-text);
}

.mud-dialog.dialog-error .mud-dialog-title {
    background: var(--mud-palette-error);
    color: var(--mud-palette-primary-text);
}

.mud-picker-calendar .mud-day.mud-range.mud-range-between {
    background-color: var(--mud-palette-primary);
    color: var(--mud-palette-primary-text);
}

.customDialog {
    min-width: 60vh;
    max-width: 90vh;
}

.mud-select-input .offerElement {
    margin-top: -8px;
}
