.logoContainer {
    display: flex;
    flex-grow: 1;
}

.o-logo {
    background-image: url(/assets/mercadona-logo.svg);
    width: 230px;
    height: 40px;
    background-repeat: no-repeat;
}

@media (max-width: 960px) {
    .logoContainer {
        justify-content: center;
    }
    .o-logo {
        transform: translateX(72px);
    }
}

.navMenu .mud-nav-item .mud-nav-link.active {
    color: unset !important;
}

.mud-list-item-icon .mud-icon-root.mud-svg-icon {
    fill: var(--mud-palette-primary);
}

.mud-input-control > .mud-input-control-input-container > .mud-input-label-inputcontrol {
    font-weight: bold !important;
}
